
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
     font-family: "Montserrat", sans-serif;
}
.container{
    width:1260px;
    margin:0 auto;
}
header{
    width:100%;
    height:100px;
    display:flex;
    align-items: center;
}
header ul{
    list-style:none;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
li.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:20px;
    font-weight:700;
}
li.catalog{
    display:flex;
    align-items:center;
    gap:4px;
}
li.number{
    font-weight:700;
}
li.time{
    color: #8B8B8B;
}
li input{
    border:none;
    border-bottom:1px solid #8B8B8B; 
    width:175px;
 
}
main{
    background-color: #f9f7f7;
    padding-bottom:59px;
}
.delivery-item{
    width:610px;
    margin-bottom:36px;
}
.delivery-items{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.delivery h2{
    font-size:26px;
    margin-bottom:25px;
    padding-top:32px;
}
.delivery-item h3{
    font-size:16px;
    font-weight:600;
    margin-bottom:5px;
    margin-top:14px;
}
.delivery-item p{
    font-size:16px;
    font-weight:400;
    line-height:30px;
}
.discount{
    display: flex;
    background-image:url(img/Rectangle\ 30.png);
    height:192px;
    align-items: center;
    justify-content:center;
}
.discount-item{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.discount-item h3{
    font-size:30px;
    color:#FFFFFF;
    font-weight: 900;
    text-transform: uppercase;
    margin-right:31px;
}
.discount-item input{
    width:250px;
    height:51px;
    padding-left:24px;
    border:none;
    margin-right:20px;
}
.discount-item button{
    background-color:#B798FF;
    width:157px;
    height:51px;
    border:none;
    color:white;
}
.payment-items{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
.payment-item{
    width:393px;
    background-color:white;
}
.payment-text{
    padding:36px 45px;
}
.payment h2{
    margin-top:48px;
    margin-bottom:25px;
}
.payment-text h4{
    margin-bottom:25px;
    font-size:16px;
}
.payment-text p{
    line-height:30px;
    letter-spacing:0%;
}
footer{
background-color:#F0F0F0;
height:186px;
}
footer .columns{
display:flex;
flex-direction: row;
justify-content:space-between;
align-items:center;
height:100%;
}
.address{
    width:209px;
}
.contacts{
    width:169px;
}
.text{
    width:624px;
}
.image{
    width:22px;
}
footer a{
    color:#927BC9;
    text-decoration:none;
}
footer .text p{
    color:#A8A8A8;
}
footer .image{
    text-align:center;
}